<ion-header>

  <ion-navbar>
    <ion-title>{{ 'page.login' | translate }}</ion-title>
      <ion-buttons end>
        <button (click)="openPage('HomePage')">
          SKIP
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row justify-content-around>
      <ion-col col-sm-6 col-md-6 col-lg-4 col-xl-3  align-self-center>
        <form [formGroup]="loginData" (ngSubmit)="login()"  *ngIf="!showRoleSelection">
          <ion-item>
            <ion-label floating>{{ 'label.email_or_name' | translate }}:</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>{{ 'label.password' | translate }}:</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

          <button ion-button full margin-top ion-button type="submit" [disabled]="!loginData.valid">{{ 'button.login' | translate }}</button>

        </form>
          <button ion-button full (click)="loginWithFB()" color="primary">Login Facebook!</button> 
          <button ion-button full  (click)="loginWithGP()" color="danger">Login Google Plus!</button> 
        <ion-row padding-top>
          <ion-col>
            <button ion-button clear block (click)="openPage('RegisterPage')">{{ 'button.new_registration' | translate }}</button>
          </ion-col>
          <ion-col>
            <button ion-button clear block (click)="openPage('ForgotPage')">{{ 'button.forgotten_password' | translate }}</button>
          </ion-col>
        </ion-row>
        
      </ion-col>

    </ion-row>    


   <ion-card *ngIf="UserFB">     
    <ion-card-header>{{ UserFB.username }}</ion-card-header>
    <img [src]="UserFB.picture" />
    <ion-card-content>
      <p>Email: {{ UserFB.email }}</p>
      <p>First Name: {{ UserFB.first_name }}</p>
      <p>Id: {{ UserFB.id }}</p>
    </ion-card-content>
  </ion-card> 

   <ion-card *ngIf="UserGP">     
    <ion-card-header>{{ UserFB.displayName }}</ion-card-header>
    <img [src]="UserGP.imageUrl" />
    <ion-card-content>
      <p>Email: {{ UserGP.email }}</p>
      <p>Id: {{ UserGP.userId }}</p>
    </ion-card-content>
  </ion-card>

    
  </ion-grid>

</ion-content>
